.home-page__header {
  display: flex;
  /* padding: 1rem 0; */
}

.home-page__header > h1 {
  width: 100vw;
  text-align: center;
  font-size: 8rem;
  margin-left: -50px;
}

.home-page__header > img {
  width: 150px;
}

.home-page__info {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  font-size: 2rem;
}

.home-page__actions {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 5rem;
}
