.App {
  background-color: var(--background);
}

.page {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  min-height: 100vh;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.sec-wrapper {
  padding: 2rem;
  margin: 5rem auto;
  border-radius: 5rem;
  width: 80%;

  min-height: 50vh;
  background-color: var(--srf-light);
}
