.App {
  background-color: var(--background);
}

.page {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  min-height: 100vh;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.sec-wrapper {
  padding: 2rem;
  margin: 5rem auto;
  border-radius: 5rem;
  width: 65%;
  /* min-height: 100vh; */
  /* min-height: 50vh; */
  min-height: 500px;
  background-color: var(--srf-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sec-wrapper > h1 {
  text-align: center;
}
