*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  --primary: #f56e51;
  --background: #f5f3e7;
  --srf-dark: #429eab;
  --srf-light: #aed6d9;
}

body {
  /* font-family: 'Roboyo', sans-serif; */
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
